@use "/src/Sass/scss/bootstrap" as V ;
@use "/src/Sass/scss/teachers" as T;
@use "/src/Sass/scss/Swiper" as S;

.nav-link{
    color: #ffffff;
}

.dropdown-item:hover{
    background-color:V.$purpleDark;
    color:V.$primary;
}
.dropdown-menu{
    border:none;

}

.carousel-inner{
    width:100%;
    height:500px;
}
@media(max-width:723px){
    .carousel-inner{
        width:100%;
        height:300px;
    }
}
.carousel-item img{
    height:480 ;

}
