@use "/src/Sass/bootstrap" as BS;
@use "../Accordion/TaechCards" as TC;
// متغیرهای رنگ و اندازه (در صورت نیاز)
.btn {
  writing-mode: horizontal-tb;
  cursor: "pointer";
}
@media (min-width: 768px) {
  .major-section,
  .major-body {
    height: 500px;
  }
  .major-content,
  .major-btn,
  .btn {
    height: 100%;
  }
  .major-btn > button {
    writing-mode: vertical-lr;
  }
}
