.bg-brand {

    background-color:var(--brand-color)!important;

}


.bg-surface {

    background-color:var(--surface-color)!important;

}


.text-theme {

    color:var(--text-color)!important;

}


.text-secondary-brand {

    color:var(--secondary-color)!important;

}